<!DOCTYPE html>
<html ng-app="gdadb">
<head>
	<title>GDA DB</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/styles.css">

	<!--  Angular from Google CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<!-- Load AppController -->
	<script type="text/javascript" src="../controllers/app.js"></script>
</head>
<body ng-controller="appCtrl">
	<div class="container-fluid gdadb-background">
	    <div class="row-fluid">
		<div class="col-sm-12">
		    <div class="row-fluid" style="height: auto">
			<div class="col-sm-2" style="height: 100px; line-height: 100px; text-align: center">
			    GTADB
		 	</div>
			<div class="col-sm-8" style="height: 100px;">
			    <div class="row" style="height: 48px">
				<div class="col-sm-8" style="height: 45px;line-height: 45px; text-align: center">
				    <input style="width:100%; height: 39px" type="text" name="search" id="search" value=""/> 
				</div>
				<div class="col-sm-2" style="height: 45px; line-height: 45px; text-align: center">
				    <select name="type" id="type" style="width:100% height: 39px">
					<option id="All" value="All">All</option>
				    </select>
				</div>
				<div class="col-sm-2" style="height: 45px; line-height: 45px; text-align: center">
				    <button type="submit" class="btn btn-primary btn-sm" ng-click="submitted=true">
					Search
				</button>
				</div>
			    </div>
			    <div class="row" style="height: 48px; line-height: 48px">
				<div class="col-sm-3">
				    Plays v
				</div>
				<div class="col-sm-3">
				    Actors v
				</div>
				<div class="col-sm-3">
				    News v
				</div>
				<div class="col-sm-3">
				    Watchlist v
				</div>
			    </div>
			</div>
			<div class="col-sm-2" style="height: 100px;line-height: 100px; text-align: center">
			    Social Media
			</div>
		    </div>
		</div>
            </div>
	</div>

	<!-- PLAY LIST -->
	<div id="play-list" class="row">
		<div class="col-sm-4 col-sm-offset-4">

			<!-- LOOP OVER THE PLAYS IN $scope.plays -->
			<div ng-repeat="play in plays" class="play-item">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">
						<div class="glyphicon glyphicon-remove" ng-click="deletePlay(play._id)">
						</div>
					</div>

					<div type="text" class="form-control"> {{play._id}}</div>
				</div>
			</div>

		</div>
	</div>

	<!-- FORM TO CREATE MODELS -->
	<div id="model-form" class="form-horizontal">
		<div class="col-sm-8 col-sm-offset-2 text-center" id="name-field">
			
			<!-- Only posts to Angular's createPlay if form is valid and was submitted -->
			<form name="playCreate" ng-submit="playCreate.$valid && submitted && createPlay()" novalidate>
				<div class="form-group" ng-class="{'has-error': submitted && modelCreate.name.$invalid}">
					
					<!-- BIND THIS VALUE TO formData.name -->
					<div class="col-sm-7">
						<input type="text" name="PlayID"  class="form-control input-lg text-center" placeholder="Play Name (Year)" ng-model="formData.PlayID" required />
						
						<div ng-show="submitted && playCreate.PlayID.$invalid">
							<p ng-show="playCreate.PlayID.$error.required">
								Play Name is a required field
							</p>
						</div>
					</div>
					<div class="col-sm-3">
						<input type="text" name="PerformanceSeason"  class="form-control input-lg text-center" placeholder="Spring or Fall" ng-model="formData.PerformanceSeason" />
						
					</div>
					<div class="col-sm-2">
						<input type="text" name="PerformanceYear"  class="form-control input-lg text-center" placeholder="2016" ng-model="formData.PerformanceYear" required />
						
						<div ng-show="submitted && playCreate.PerformanceYear.$invalid">
							<p ng-show="playCreate.PerformanceYear.$error.required">
								Performance Year is a required field
							</p>
						</div>
					</div>
				</div>

				<!-- Sets the value submitted to true to help with form validation -->
				<button type="submit" class="btn btn-primary btn-lg" ng-click="submitted=true">
					Add
				</button>
			</form>
		</div>
	</div>
</body>
</html>
