doctype html
html
  head
    title GDA DB
  body(ng-controller='appCtrl')
    header
      div.container-fluid
          div.col-sm-10.col-sm-offset-1
            div.row-fluid
              div.col-sm-12.gdadb-background
                div.row-fluid
                  div.col-sm-2.gdadb-logo.gdadb-header
                    div.gdadb-logo(onclick="window.location='/'")
                  div.col-sm-8.gdadb-controls.gdadb-header
                    form(name='playSearch', action='/search')
                      div.row.gdadb-buttons
                        div.col-sm-8.gdadb-control-wrapper
                          input.form-control.gdadb-search-box(type='text',name='search', id='search', placeholder='Find plays, cast, crew, and more...', ng-model='formData.search')
                        div.col-sm-2.gdadb-control-wrapper
                          select.form-control(name='type', id='type',ng-model='formData.type')
                            option(id='All', value='All') All
                        div.col-sm-2.gdadb-control-wrapper
                          button.form-control.btn.btn-primary.btn-sm(style="margin-bottom:10px; ", type='submit', ng-click='submitted=true') Search
                      div.row.gdadb-menu-row
                        div.col-sm-12.nav-collapse
                          ul.nav.navbar-nav.col-sm-12
                            li.dropdown.col-sm-3
                              a.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", role="button", href="#") Plays
                                span.caret
                              ul.dropdown-menu
                                li
                                  a(href="/addplay") Add Play
                            li.dropdown.col-sm-3
                              a.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", role="button", href="#") Cast and Crew
                                span.caret
                              ul.dropdown-menu
                                li
                                  a(href="/addcast") Add Cast
                                li
                                  a(href="/addcrew") Add Crew
                                li
                                  a(href="/addstaff") Add Staff
                            li.dropdown.col-sm-3
                              a.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", role="button", href="#") News
                                span.caret
                              ul.dropdown-menu
                                li
                                  a(href="/news") Read News
                            li.col-sm-3
                            if auth
                              a.menulink(onclick="window.location='/signout'") Sign Out
                            else
                              a.menulink(onclick='window.location="/signin"') Sign In
                  div.col-sm-2.gdadb-social-media.gdadb-header
                    a.soclink(href="http://www.facebook.com/GonzagaDrama", title="Follow GDA on Facebook")
                      span.follow-facebook
                    a.soclink(href="https://twitter.com/GonzagaDrama", title="Follow GDA on Twitter")
                      span.follow-twitter
             div.row-fluid.gdadb-content 
               block content
    footer
      include corescripts
      block scripts
