extend layout
block content
  div.col-sm-12.gdadb-content
    div(ng-controller="myApp")
      form(sf-schema="playschema" sf-form="form" sf-model="model")
        dl
          dt
            label(for="_id") Title
          dd
            input.lrg(type="text", id="_id", class="required", name="_id", autocomplete="off", style="cursor:auto", value="#{play._id}")
        dl
          dt
            label(for="Keywords") Keywords
          dd
            input.lrg(type="text", id="Keywords", name="Keywords", value="#{play.Keywords}")
        dl
          dt
            label(for="Season") Season
          dd
            select.sml(size="1", name="Season", id="Season")
              option(value="Fall") Fall
              option(value="Spring") Spring
        dl
          dt
            label(for="Year") Year
          dd
            input.sml(type="Text", id="Year", class="digits", name="Year")
        dl
          dt
            label(for="PlaybillImage") Playbill Image
          dd
            input(type="file", id="PlaybillImage", name="PlaybillImage", accept=".gif,.png,.jpg")
        dl
          dt
            label(for="Description") Description
          dd
            textarea(id="Description", name="Description", rows="5", cols="80")
        dl
          dt
            label(for="Directors") Director(s)
          dd
            input.lrg(type="text", id="Directors", name="Directors")
        dl
          dt
            label(for="Producers") Producer(s)
          dd
            input.lrg(type="text", id="Producers", name="Producers")
        fieldset
          legend Cast
          button.btn.btn-info(type="button", id="addcast", name="addcast", data-toggle="modal", data-target="#addCastMember") Add new cast member
          br
          dl.left
            dt
              label(for="CastName") Cast Member Name
            dd
              input.lrg(type="text", id="CastName", name="CastName", placeholder="Last Name, First")
          dl.left
            dt
              label(for="CastRole") Cast Member Role
            dd
              input.lrg(type="text", id="CastRole", name="CastRole")
              button.pad10left     Save
        fieldset
          legend Crew
          button(id="addcrew", name="addcrew") Add new crew member
          br
          dl.left
            dt
              label(for="CrewName") Crew Member Name
            dd
              input.lrg(type="text", id="CrewName", name="CrewName", placeholder="Last Name, First")
          dl.left
            dt
              label(for="CrewRole") Crew Member Role
            dd
              input.lrg(type="text", id="CrewRole", name="CrewRole")
              button.pad10left     Save
        fieldset
          legend Performances
          dl
            label(for="PerformanceDate") Performance Date
          dd
            input(type="text", id="PerformanceDate", name="PerformanceDate")
            button Add new date
        br
        br
        div(id=submit_button)
          button(type="submit") Submit
      div.modal.fade(id="addCastMember", role="dialog")
        div.modal-dialog
          div.modal-content
            form(id="newcast", name="newcast")
              div.modal-header
                h3 Add New Cast Member
              div.modal-body
                dl
                  dt
                    label(for="CastMemberName") Cast Member Name
                  dd
                    input.ui-front.lrg(type="text", id="CastMemberName", name="CastMemberName", placeholder="Last Name, First")
                dl
                  dt
                    label(for="CastMemberYear") Graduation Year
                  dd
                    input.lrg(type="text", id="GradYear", name="GradYear", placeholder="YYYY")
                dl
                  dt
                    label(for="CastMemberSchool") Cast Member's School
                  dd
                    input.lrg(type="text", id="CastMemberSchool", name="CastMemberSchool")
              div.modal-footer  
                button.btn.btn-default(name="newpersonsubmit", id="newpersonsubmit", type="button" data-dismiss="modal") Save
block scripts
  script.
    $( "#CastName" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/api/castname",
          dataType: "jsonp",
          data: {
            q: request.term
          },

          success: function( data ) {
            response( $.map(data, function(item) {
        	  return {
        	    label: item._id
        	  };
            }));
          },
          complete: function() {
         }

        });
      },
      minLength: 3,
      select: function( event, ui ) {
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
    
    $( "#CastMemberSchool" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/api/school",
          dataType: "jsonp",
          data: {
            q: request.term
          },

          success: function( data ) {
            response( $.map(data, function(item) {
        	  return {
        	    label: item.School
        	  };
            }));
          },
          complete: function() {
         }

        });
      },
      minLength: 3,
      select: function( event, ui ) {
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

    $("#newpersonsubmit").on('click', function(e) {
      console.log("HERE");
      e.preventDefault();
      $.ajax({
        url: "/api/addperson",
        type: "POST",
        data: {
          name: $("#CastMemberName").val(),
          year: $("#GradYear").val(),
          school: $("#CastMemberSchool").val()
        },
        success: function(data) {
          alert("Added new person");
        } 
      });
    });
