extend layout
block content
  div.col-sm-12.gdadb-content
    div(ng-controller="myApp")
      form(sf-schema="playschema" sf-form="form" sf-model="model")
        dl
          dt
            label(for="_id") Title
          dd
            input.lrg(type="text", id="_id", class="required", name="_id", autocomplete="off", style="cursor:auto", value="#{play._id}")
        dl
          dt
            label(for="Keywords") Keywords
          dd
            input.lrg(type="text", id="Keywords", name="Keywords", value="#{play.Keywords}")
        dl
          dt
            label(for="Season") Season
          dd
            select.sml(size="1", name="Season", id="Season")
              option(value="Fall") Fall
              option(value="Spring") Spring
        dl
          dt
            label(for="Year") Year
          dd
            input.sml(type="Text", id="Year", class="digits", name="Year")
        dl
          dt
            label(for="PlaybillImage") Playbill Image
          dd
            input(type="file", id="PlaybillImage", name="PlaybillImage", accept=".gif,.png,.jpg")
        dl
          dt
            label(for="Description") Description
          dd
            textarea(id="Description", name="Description", rows="5", cols="80")
        dl
          dt
            label(for="Directors") Director(s)
          dd
            input.lrg(type="text", id="Directors", name="Directors")
        dl
          dt
            label(for="Producers") Producer(s)
          dd
            input.lrg(type="text", id="Producers", name="Producers")
        fieldset
          legend Cast
          button Add new cast member
          br
          dl.left
            dt
              label(for="CastName") Cast Member Name
            dd
              input.lrg(type="text", id="CastName", name="CastName")
          dl.left
            dt
              label(for="CastRole") Cast Member Role
            dd
              input.lrg(type="text", id="CastRole", name="CastRole")
              button.pad10left     Save
        fieldset
          legend Crew
          button Add new crew member
          br
          dl.left
            dt
              label(for="CrewName") Crew Member Name
            dd
              input.lrg(type="text", id="CrewName", name="CrewName")
          dl.left
            dt
              label(for="CrewRole") Crew Member Role
            dd
              input.lrg(type="text", id="CrewRole", name="CrewRole")
              button.pad10left     Save
        fieldset
          legend Performances
          dl
            label(for="PerformanceDate") Performance Date
          dd
            input(type="text", id="PerformanceDate", name="PerformanceDate")
            button Add new date
        br
        br
        div(id=submit_button)
          button(type="submit") Submit

