extend layout
block content
  div.col-sm-12.gdadb-content
    div(ng-controller="myApp")
      form(sf-schema="playschema" sf-form="form" sf-model="model")
        dl
          dt
            label(for="_id") Title
          dd
            input.lrg(type="text", id="_id", class="required", name="_id", autocomplete="off", style="cursor:auto", value="#{play._id}")
        dl
          dt
            label(for="keywords") keywords
          dd
            input.lrg(type="text", id="keywords", name="keywords", value="#{play.keywords}")
        dl
          dt
            label(for="season") season
          dd
            select.sml(size="1", name="season", id="season")
              option(value="Fall") Fall
              option(value="Spring") Spring
        dl
          dt
            label(for="year") year
          dd
            input.sml(type="Text", id="year", class="digits", name="year")
        dl
          dt
            label(for="playbillimage") Playbill Image
          dd
            input(type="file", id="playbillimage", name="playbillimage", accept=".gif,.png,.jpg")
        dl
          dt
            label(for="description") description
          dd
            textarea(id="description", name="description", rows="5", cols="80")
        dl
          dt
            label(for="directors") Director(s)
          dd
            input.lrg(type="text", id="directors", name="directors")
        dl
          dt
            label(for="producers") Producer(s)
          dd
            input.lrg(type="text", id="producers", name="producers")
        fieldset
          legend Cast
          button.btn.btn-info(type="button", id="addcast", name="addcast", data-toggle="modal", data-target="#addCastMember") Add new cast member
          br
          dl.left
            dt
              label(for="castname") Cast Member Name
            dd
              input.lrg(type="text", id="castname", name="castname", placeholder="Last Name, First")
          dl.left
            dt
              label(for="castrole") Cast Member Role
            dd
              input.lrg(type="text", id="castrole", name="castrole")
              button.pad10left(id="newrole", name="newrole") Save
        fieldset
          legend Crew
          button.btn.btn-info(type="button", id="addcrew", name="addcrew", data-toggle="modal", data-target="#addCrewMember") Add new crew member
          br
          dl.left
            dt
              label(for="crewname") Crew Member Name
            dd
              input.lrg(type="text", id="crewname", name="crewname", placeholder="Last Name, First")
          dl.left
            dt
              label(for="crewrole") Crew Member Role
            dd
              input.lrg(type="text", id="crewrole", name="crewrole")
              button.pad10left(id="newrole2", name="newrole2") Save
        fieldset
          legend Performances
          dl
            label(for="performancedate") Performance Date
          dd
            input(type="text", id="performancedate", name="performancedate")
            button.btn Add new date
        br
        br
        div(id=submit_button)
          button.btn.btn-lg(type="submit") Save
          input(type="hidden", id="castyear", name="castyear", value="")
          input(type="hidden", id="crewyear", name="crewyear", value="")
      div.modal.fade(id="addCastMember", role="dialog")
        div.modal-dialog
          div.modal-content
            form(id="newcast", name="newcast")
              div.modal-header
                h3 Add New Cast Member
              div.modal-body
                dl
                  dt
                    label(for="castmembername") Cast Member Name
                  dd
                    input.lrg(type="text", id="castmembername", name="castmembername", placeholder="Last Name, First")
                dl
                  dt
                    label(for="gradyear") Graduation year
                  dd
                    input.lrg(type="text", id="gradyear", name="gradyear", placeholder="YYYY")
                dl
                  dt
                    label(for="castmemberschool") Cast Member's School
                  dd
                    input.lrg(type="text", id="castmemberschool", name="castmemberschool")
              div.modal-footer  
                button.btn.btn-default(name="newpersonsubmit", id="newpersonsubmit", type="button" data-dismiss="modal") Save
      div.modal.fade(id="addCrewMember", role="dialog")
        div.modal-dialog
          div.modal-content
            form(id="newcrew", name="newcrew")
              div.modal-header
                h3 Add New Crew Member
              div.modal-body
                dl
                  dt
                    label(for="crewmembername") Crew Member Name
                  dd
                    input.lrg(type="text", id="crewmembername", name="crewmembername", placeholder="Last Name, First")
                dl
                  dt
                    label(for="crewmemberyear") Graduation year
                  dd
                    input.lrg(type="text", id="crewgradyear", name="crewgradyear", placeholder="YYYY")
                dl
                  dt
                    label(for="crewmemberschool") Crew Member's School
                  dd
                    input.lrg(type="text", id="crewmemberschool", name="crewmemberschool")
              div.modal-footer  
                button.btn.btn-default(name="newpersonsubmit2", id="newpersonsubmit2", type="button" data-dismiss="modal") Save
block scripts
  script.
    $( "#castname" ).autocomplete({
      appendTo: "castname",
      source: function( request, response ) {
        $.ajax({
          url: "/api/namesearch",
          dataType: "jsonp",
          data: {
            q: request.term
          },

          success: function( data ) {
            response( $.map(data, function(item) {
        	  return {
        	    label: item
        	  };
            }));
          },
          complete: function() {
          }
        });
      },
      minLength: 3,
      select: function( event, ui ) {
            $('#castname').val($('#castmembername').val());
            $('#castyear').val($('#gradyear').val());
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

    $( "#crewname" ).autocomplete({
      appendTo: "crewname",
      source: function( request, response ) {
        $.ajax({
          url: "/api/namesearch",
          dataType: "jsonp",
          data: {
            q: request.term
          },

          success: function( data ) {
            response( $.map(data, function(item) {
        	  return {
        	    label: item
        	  };
            }));
          },
          complete: function() {
          }

        });
      },
      minLength: 3,
      select: function( event, ui ) {
            $('#crewname').val($('#crewmembername').val());
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

    $( "#castmemberschool" ).autocomplete({
      appendTo: "castmemberschool",
      source: function( request, response ) {
        $.ajax({
          url: "/api/school",
          dataType: "jsonp",
          data: {
            q: request.term
          },

          success: function( data ) {
            response( $.map(data, function(item) {
        	  return {
        	    label: item
        	  };
            }));
          },
          complete: function() {
         }

        });
      },
      minLength: 3,
      select: function( event, ui ) {
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

    $( "#crewmemberschool" ).autocomplete({
      appendTo: "crewmemberschool",
      source: function( request, response ) {
        $.ajax({
          url: "/api/school",
          dataType: "jsonp",
          data: {
            q: request.term
          },

          success: function( data ) {
            response( $.map(data, function(item) {
        	  return {
        	    label: item
        	  };
            }));
          },
          complete: function() {
         }

        });
      },
      minLength: 3,
      select: function( event, ui ) {
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

    $("#newpersonsubmit").on('click', function(e) {
      e.preventDefault();
      $.ajax({
        url: "/api/addperson",
        type: "POST",
        data: {
          name: $("#castmembername").val(),
          year: $("#gradyear").val(),
          school: $("#castmemberschool").val(),
          bio: ''
        },
        success: function(data) {
          $('#castname').val($('#castmembername').val());
          $('#castyear').val($('#gradyear').val());
        } 
      });
    });

    $("#newpersonsubmit2").on('click', function(e) {
      e.preventDefault();
      $.ajax({
        url: "/api/addperson",
        type: "POST",
        data: {
          name: $("#crewmembername").val(),
          year: $("#crewgradyear").val(),
          school: $("#crewmemberschool").val(),
          bio: ''
        },
        success: function(data) {
          $('#crewname').val($('#crewmembername').val());
          $('#crewyear').val($('#crewgradyear').val());
        } 
      });
    });

    $("#newrole").on('click', function() {
      $.ajax({
        url: "/api/addrole",
        type: "POST",
        data: {
          name: $("#castname").val(),
          year: $("#castyear").val(),
          role: $('#castrole').val(),
          play: $('_id').val()
        },
        success: function(data) {
          alert("Added new role");
        } 
      });
    });

    $("#newrole2").on('click', function() {
      $.ajax({
        url: "/api/addrole",
        type: "POST",
        data: {
          name: $("#castname").val(),
          year: $("#crewyear").val(),
          role: $('#crewrole').val(),
          play: $('_id').val()
        },
        success: function(data) {
          alert("Added new role");
        } 
      });
    });
